h1 {
    color:rgb(4, 4, 170);
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: justify;
}
.btn {
    border-radius: 22px;
    background-color: black;
    color: azure;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45;
    padding: 10px;
    box-sizing: content-box
}

#ksa {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
  

}
