* {
    margin: 0px;
    padding: 0px;
    background-color rgb(255,255,255);
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

.wraper {
    margin: 0px 100px 0px 100px;
    padding: 0;
}

.header {
    background-color: #1F2937;
}

nav {
    background-color: #1F2937;
    height: 75px;
    position: sticky;
    top: 0px
}

.logo {
height: auto;
width: 80px;
}

nav .wraper {
    display: flex;
    justify-content: space-between;
    flex-wrap:nowrap;
    align-items: center;
    padding: 15px 0px;
}

.wraper ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

a {
    text-decoration: none;
    color:#E5E7EB;
    font-size: 18px;
    padding: 6px;
    border-radius:6px;
    max-width: max-content;
}
a:hover, a:focus {
    background-color: #3882f6;
    text-decoration: none;
}

.welcome {
    margin: auto;
    display: flex;
    gap:50px;
    flex-wrap:nowrap;
    align-items: center;
    padding: 30px;
    width: 80%
}

.welcome img {
    width: 500px; 
    height: 200px; 
    object-fit:fill;
    object-position: 
}

.welcome h1 {
    color:#FFFFFF;
    font-size: 48px;
    font-weight: bolder;
}

.welcome p {
    color:#E5E7EB;
    font-size: 18px;
    margin-bottom: 10px;
}

.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
}

.container {
    
    margin: auto;
    overflow:hidden;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#boxes {
    margin-top: 50px;
}

#boxes .box {
    float:left;
    text-align: center;
    width: 20%;
    padding: 10px;
}

#boxes .box img {
    width: 90px;
    height: 90px;
    border-radius: 10px;
    border-color: #3882f6;
    border-style:outset;
}

#boxes .box p {
    font-size: 18px;
    color: #4f5052;

}

#boxes h2 {
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    font-weight: 800;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    text-align: justify;
    padding: 80px;
    font-style: italic;
    margin-top: 50px;
}

.qsource {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    text-align: right;
    padding: 0px;
    font-style: normal;
}

.navbtn {
    width: max-content;
    max-height: fit-content;
    box-sizing: content-box;
    background-color: #3882f6;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 10px 40px;
    border:none;
}
.welcome button:hover, button:focus {
    background-color: #E5E7EB;
    color:#3882f6;
    text-decoration: none;
}

.Prdbtn {
    width: max-content;
    max-height: fit-content;
    box-sizing: content-box;
    background-color: #3882f6;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 10px 40px;
    border: 2px solid rgb(255, 255, 255);
}

.SignUp {
    background-color: #3882f6;
    justify-content: space-between;
    margin: auto;
    margin-top: 50px;
    display: flex;
    gap:20px;
    flex-wrap:wrap;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    width: 80%
}

.SignUp h1 {
    color:#FFFFFF;
    font-size: 24px;
    font-weight: bolder;
}

.SignUp p {
    color:#E5E7EB;
    font-size: 18px;
    margin-bottom: 10px;
}

.SignUp button:hover, button:focus {
    background-color: #E5E7EB;
    color:#3882f6;
    text-decoration: none;
}



footer {
    margin-top: 50px;
    background-color: #1f2937;
    padding: 20px;
    display: flex;
    justify-content: center;
    
}

footer p {
    width: fit-content;
    background-color: #020c1b;
    width: 480px;  
    padding: 3px;
    color:#e5e7eb;
    font-weight: bold;
}

