/* General attribute */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* general body attribute */
body {
    background-color: #FFFFFF;
    padding: 0;
    font-family: 'Roboto', arial;
}

/* every section has a class wrapper and right and left set to 100px */
.wraper {
    margin: 0px 100px 0px 100px;
    padding: 0;
}

/* header section with the hero text and picture */
/* logo and menu bar */
.header {
    background-color: #1F2937;
}

nav {
    background-color: #1F2937;
    width: 100%;
    position: fixed;
    padding:0px 150px 0px 150px;
    overflow: hidden;  
}

.logo {
height: auto;
width: 80px;
}

nav .menu {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    text-align: center;
    padding: 15px 0px;
    
}

.menu ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color:#E5E7EB;
    font-size: 18px;
    padding: 6px;
    border-radius:6px;
    max-width: max-content;
}
.menu a:hover, a:focus {
    background-color: #3882f6;
    text-decoration: none;
}

/* hero section */
.hero {
    display:inline-block;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    padding: 100px 150px 80px 150px;
}

#htext {
    align-items: center;
    width: 50%;
}

.hero img {
    align-items: center;
    width: 400px; 
    height: 250px;
    border-radius: 20px; 
    object-fit:fill;
    object-position:center;
}

.hero h1 {
    color:#FFFFFF;
    font-size: 48px;
    font-weight: bolder;
}

.hero p {
    color:#E5E7EB;
    font-size: 18px;
    margin-bottom: 10px;
}

.hero button {
    width: max-content;
    max-height: fit-content;
    box-sizing: content-box;
    background-color: #3882f6;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 10px 40px;
    border:none;
}

.hero button:hover, button:focus {
    background-color: #E5E7EB;
    color:#3882f6;
    text-decoration: none;
}

/* column section / why LuTA */

.container {
    max-width:100%px;
    margin: 50px 100px 0px 100px;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:20px;
    text-align: center;
    justify-content: space-between
  }
  
  .box1 {
    min-width: 190px;
    flex-grow: 2;
    flex-shrink: 0;
    width:190px;
  }
  
  .box2 {
    min-width: 190px;
    flex-grow: 2;
    width:190px;
  }
  
  .box3 {
    min-width: 190px;
    flex-grow: 2;
    flex-shrink: 0;
    width:190px;
  }
  
  .box4 {
    min-width: 190px;
    flex-grow: 2;
    width:190px;
  }

#boxes {margin-top: 50px;
}

#boxes h2 {
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    font-weight: 800;
}
.container img {
    width: 90px;
    height: 90px;
    border-radius: 10px;
    border: 3px solid #3882f6;
}

.container p {
    font-size: 18px;
    color: #4f5052;

}

/* quote section */
.testimony {
    background-color:#E5E7EB;
    margin-top: 50px;
    text-align: justify;
    font-size: 36px;
    padding: 150px;
    color:#1f2937;
    font-style: italic;
}

.testimony h5 {
    color: #1F2937;
    font-size: 36px;
    text-align: right;
    padding: 0px;
    font-style: normal;
}

/* call to action/sign up section */
.signup {
    background-color: #3882f6;
    justify-content: space-between;
    margin: auto;
    margin-top: 50px;
    display: flex;
    gap:20px;
    flex-wrap:wrap;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    width: 80%
}

.signup h1 {
    color:#FFFFFF;
    font-size: 24px;
    font-weight: bolder;
}

.signup p {
    color:#E5E7EB;
    font-size: 18px;
    margin-bottom: 10px;
}

.signup button {
    width: max-content;
    max-height: fit-content;
    box-sizing: content-box;
    background-color: #3882f6;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 10px 40px;
    border: 2px solid rgb(255, 255, 255);
}
.signup button:hover, button:focus {
    background-color: #E5E7EB;
    color:#3882f6;
    text-decoration: none;
}

/* footer section */
footer {
    margin-top: 50px;
    background-color: #1f2937;
    padding: 20px;
    display: flex;
    justify-content: center;
    
}

footer p {
    width: fit-content;
    background-color: #020c1b;
    width: 480px;  
    padding: 3px;
    color:#e5e7eb;
    font-weight: bold;
}

footer a {
    color:#e5e7eb;
    text-decoration: none;
}
